[submodule "Rocket-Launcher"]
	path = Rocket-Launcher
	url = https://github.com/eeeyyeeezz/Rocket-Launcher
[submodule "PhoneStore"]
	path = PhoneStore
	url = https://github.com/eeeyyeeezz/PhoneStore
[submodule "Stock"]
	path = Stock
	url = https://github.com/eeeyyeeezz/Stock
[submodule "SoloChat"]
	path = SoloChat
	url = https://github.com/eeeyyeeezz/SoloChat
[submodule "RandomUserGenerator"]
        path = RandomUserGenerator
        url = https://github.com/eeeyyeeezz/RandomUserGenerator
