[submodule "RandomUserGenerator"]
	path = RandomUserGenerator
	url = https://github.com/eeeyyeeezz/RandomUserGenerator
[submodule "Rocket-Launcher"]
	path = Rocket-Launcher
	url = https://github.com/eeeyyeeezz/Rocket-Launcher
