[submodule "RandomUserGenerator"]
	path = RandomUserGenerator
	url = https://github.com/eeeyyeeezz/RandomUserGenerator
[submodule "Rocket-Launcher"]
	path = Rocket-Launcher
	url = https://github.com/eeeyyeeezz/Rocket-Launcher
[submodule "PhoneStore"]
	path = PhoneStore
	url = https://github.com/eeeyyeeezz/PhoneStore
[submodule "Stock"]
	path = Stock
	url = https://github.com/eeeyyeeezz/Stock
